.firstsection{
    /* text-align: center; */
    height:100vh;
    padding: 15em;
}

.secondsection{
 /* text-align: center; */
 height:100vh;
 padding: 15em;
 
 
 
}

.thirdsection{
    /* text-align: center; */
    height:200vh;
    padding: 15em;
   
   }

   html {
    scroll-behavior: smooth;
  }

  @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

  .headerFont{
       font-family: 'Pacifico', cursive;
  }
 
  @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

  .headerFont2{
    font-family: 'Press Start 2P', cursive;
  }